registry=https://registry.npmjs.org/
registry=https://registry.yarnpkg.com/
@DavidJDJ:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
always-auth=true
